/* https://catppuccin.com/palette/   Latte*/
:root {
  --Rosewater: #dc8a78;
  --Pink: #ea76cb;
  --Mauve: #8839ef;
  --Maroon: #e64553;
  --Peach: #fe640b;
  --Yellow: #df8e1d;
  --Green: #40a02b;
  --Teal: #179299;
  --Sapphire: #209fb5;
  --Lavender: #7287fd;
  --Base0: #eff1f5;
  --Base1: #ccd0da;
  --Base2: #acb0be;
  --Base3: #8c8fa1;
  --Base4: #6c6f85;
  --Base5: #4c4f69;
  --Base6: #111;
  --Base7: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--Base0);
  /* border: 1px solid goldenrod; */
}


.cursive-font {
  font-family: "Borel", cursive;
  font-weight: 400;
  font-style: normal;
}

.title-font {
  font-family: 'Wellfleet', serif;
  font-weight: 400;
  font-style: normal;
}


/* NAVBAR */
@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px var(--Pink),
      0 0 11px var(--Pink),
      0 0 19px var(--Pink);
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

@keyframes image-flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    filter: drop-shadow(0 0 4px var(--Maroon))
           drop-shadow(0 0 11px var(--Maroon))
           drop-shadow(0 0 19px var(--Maroon));
  }
  20%, 24%, 55% {
    filter: none;
  }
}

@keyframes quote-flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    text-shadow:
      0 0 4px var(--Sapphire),
      0 0 11px var(--Sapphire),
      0 0 19px var(--Sapphire);
  }
  20%, 24%, 55% {       
    text-shadow: none;
  }
}

.quote-text {
  font-style: italic;
  color: var(--Sapphire);
  animation: quote-flicker 5s infinite alternate;
}


.mynavbar {
  /* position: fixed; */
  background-color: rgba(0, 0, 0, .85);
  /* background-color: var(--Base6); */
  color: var(--Base0);
  width: 100%;
  z-index: 99;
  /* border-bottom: 1px solid var(--Base3); */
}

.navbar {
  color: var(--Base0);
  padding: 25px 20px 10px 20px; 
}

.navbar-brand {
  color: var(--Pink);
  animation: flicker 2s infinite alternate;
  font-size: 24px;
}

.navbar-brand:hover {
  color: var(--Maroon);
  text-decoration: none; 
}

a {
  color: var(--Lavender);
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: var(--Maroon);
  text-decoration: none;
}

.btn {
    border: 1px solid var(--Base0);
    color: var(--Base0);
    background: var(--Mauve);
    box-shadow: 6px 6px 0 var(--Pink);
    transform: skewX(-15deg);
}

.btn:hover {
    border: 1px solid var(--Base7);
    color: var(--Base7);
    background: var(--Pink);
    box-shadow: 6px 6px 0 var(--Mauve);
    transform: skewX(-15deg);
}

.highlight {
  color: var(--Pink);
  animation: flicker 10s infinite alternate;
}

h4 {
  font-size: 24px;
}

.image-glow {
  animation: image-flicker 2s infinite alternate;
}

/* HOME */
#myVideo2 {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#myVideo {
  /* position: fixed; */
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

}

/* footer */

.myfooter {
  background-color: var(--Base6);
  color: var(--Base0);
  padding: 50px 0 10px 0;
}

/* video {
  margin-bottom: -7px;
} */

.text-body-secondary {
  color: var(--Mauve) !important;

}
.text-body-secondary:hover {
  color: var(--Green) !important;
}

footer h5 {
  color: var(--Teal);
}

.navbar-toggler {
  color: var(--Rosewater);
}

/* login */

.small-container {
  width: 350px;
  margin: 20px auto;
  border: 1px solid var(--Base0);
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(0 0 0 / 0.7);
  /* background-color: rgba(var(--Base7), 0.7); */
  /* background-color: rgb(var(--Base7), 0.7); */
  color: var(--Base0);
}

.flex-container { 
  max-width: 450px;
  margin: 20px auto;
  border: 1px solid var(--Base0);
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(0 0 0 / 0.7);
  color: var(--Base0);
}

.container-height {
  padding: 1px;
}


.background {
  /* background-image: url("./back1.webp"); */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 92vh;
}



input[type="text"], input[type="password"], input[type="email"], input[type="date"], textarea[id="bio"], textarea[id="criteria"], textarea[id="sendText"] {
  color: var(--Base0);
  background-color: var(--Base6);
  border: 1px solid var(--Base3);
}

input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="email"]::placeholder, input[type="date"]::placeholder, textarea[id="bio"]::placeholder, textarea[id="criteria"]::placeholder, textarea[id="sendText"]::placeholder {
  color: var(--Base4);
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="date"]:focus, textarea[id="bio"]:focus, textarea[id="criteria"]:focus, textarea[id="sendText"]:focus {
  outline: none;
  border: 1px solid var(--Sapphire);
  box-shadow: 0 0 5px var(--Sapphire);
  color: var(--Base0);
  background-color: var(--Base6);
}

textarea[id="bio"] {
  min-height: 250px;
}

textarea[id="criteria"] {
  min-height: 100px;
}

input[role="switch"] {
  background-color: var(--Pink);
}
input[role="switch"]:checked {
  background-color: var(--Sapphire);
}

.color-text {
  color: var(--Sapphire);
  font-weight: bold;
  text-shadow: 0 0 10px var(--Sapphire);
}

.row{
  display: flex;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

.line {
  border-top: 1px solid var(--Peach);

}

.match-details {
  margin: 15px;
  border: 1px solid var(--Base3);
  padding: 10px;
  border-radius: 5px;
  background-color: var(--Base6);
}

.color-you {
  color: var(--Green);
  font-weight: bold;
  text-shadow: 0 0 10px var(--Green);
}

.color-them {
  color: var(--Peach);
  font-weight: bold;
  text-shadow: 0 0 10px var(--Peach);
}


/* .background and video on mobile (background image one, video off */
@media only screen and (max-width: 600px) {
  .background {
  background-image: url("road.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 92vh;
  }

  #myVideo2 {
    display: none;
  }
}